@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.clear{clear: both;}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
	font-size: 100%;
}

.titulo{
	color: sienna;
	text-shadow:1px  0px 0px black,
				0px  1px 0px black,
				-1px  0px 0px black,
				0px -1px 0px black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 90px;

}

#scrollUp {
    background-image: url(../images/top.png);
    bottom: 20px;
    right: 20px;
    width: 38px;    
    height: 38px;
	background-size: cover; 
}


/*Body*/



body a{
 	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}


/*Nav*/
.header{
	background:#000;
	padding: 1.5%;
	
}


.marcas{
	margin: 100px auto 0px;
}
.logo{
	float:left;
	margin-right: 2ch;
	
}
.imglogo{
	float: left;
	width:60px;
	height:60px;
	margin-right: 3rem;

}
.users{
	float: left;
	width: 27px;
	height: 27px;

}
.ausers{
	float: left;
	margin-left:52ch
}
.carshop{
	width: 27px;
	height: 27px;
}

.menu{
	 float:left;
	 margin: 17px 0 0;
}
  .menu li{
	display:inline-block;
 }
 .menu li:first-child{
   	margin-left:0;
 }
 .menu li a{
  	 display: block;
	font-size: 0.8125em;
	text-transform: uppercase;
	padding: 5px 20px;
	color: #FFF;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 600;
 }
 .menu li a:hover ,.menu li.active a{
	 background:#fff;
	 color:#000;
 } 
 #nav .current a {
	 color:red;
}
.toggleMenu {
    display: none;
  	padding: 4px 5px 0px 5px;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}



/*Botones*/

.button{
	text-align: center;
}
.button a{
	color:#fff;
	font-size:0.85em;
	text-transform:uppercase;
	font-weight:800;
	text-decoration:none;
	margin-left:45%;
	border: none;
	cursor: pointer;
	padding:15px 30px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #000;
}
.button a:hover{
	background:#222;
}
.button1 input[type="submit"] {
	background: #000;
	border: none;
	color: #FFF;
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size: 1em;
	text-align: center;
}
.button1 input[name="crearc"] {
	background: rgb(0, 0, 0);
	border: none;
	color: #FFF;
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size: 1em;
}
.button1 input[name="register"] {
	background: rgb(0, 0, 0);
	border: none;
	color: #FFF;
	padding: 15px 30px;
	cursor: pointer;
	float: left;
	margin-left: 100%;
	margin-top: 15%;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size: 1em;
}
.button1 input[name="enviar"] {
	background: rgb(0, 0, 0);
	border: none;
	color: #FFF;
	padding: 15px 30px;
	cursor: pointer;
	float: left;
	margin-left: 177%;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size: 1em;
}

.button1 input[type="submit"]:hover {
	background: #555;
}
#login-form label {
	color: #777;
	line-height: 2.8em;
	font-size: 0.95em;
	font-weight: 400;
	margin: 0;
	display: block;
}
input.inputbox, input.required, div.k2AccountPage input[type="text"] {
	background: #FFF;
	outline-color: #00BFF0;
	border: 1px solid #EEE;
	color: inherit;
	padding: 7px 20px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.85em;
}
.remember {
	margin-top: 6%;
}
p#login-form-remember {
	float: left; 
}
fieldset.input input[type="submit"] {
	background: #000;
	border: none;
	color: rgb(236, 205, 205);
	padding: 10px 30px;
	cursor: pointer;
	float: right;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size:1em;
}
fieldset.input input[type="submit"]:hover {
	background:#555;
}
#login-form label a {
	color: #777;
	color:0.85em;
}
#login-form label a:hover {
	color:#00BFF0;
}
.button1 {
	float: right;
	margin-top: 8%;
}


/*--Main--*/




.content-top{
	padding:10% 0;
	
}
.content-top h2{
	color: #000;
	font-size:3em;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.5%;
}
.content-top p{
	color: #000;
	font-size: 0.95em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	margin-bottom:1%;
}
.content-top h3{
	color:#000;
	font-size:1.5em;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	margin:2% 0 0 0;

}

.fondo1{
	background-image: url(../images/gif3.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:unset;
	
}



/*--login--*/
.login-page {
	border-right: 1px solid #EEE;
	padding-right: 4%;


}
h4.title {
	color:rgb(255, 255, 255);
	margin-bottom: 0.5em;
	font-size: 1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 13px;
}
.login-page p {
	color: rgb(255, 255, 255);
	font-size: 0.85em;
	line-height: 1.8em;
}

#login-form label {
	color: rgb(255, 255, 255);
	line-height: 2.8em;
	font-size: 0.95em;
	font-weight: 400;
	margin: 0;
	display: block;
}
input.inputbox, input.required, div.k2AccountPage input[type="text"] {
	background: #FFF;
	outline-color: #00BFF0;
	border: 1px solid #EEE;
	color: inherit;
	padding: 7px 20px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.85em;
}
.remember {
	margin-top: 6%;
}
p#login-form-remember {
	float: left;
}
fieldset.input input[type="submit"] {
	background: #000;
	border: none;
	color: #FFF;
	padding: 10px 30px;
	cursor: pointer;
	float: right;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size:1em;
}
fieldset.input input[type="submit"]:hover {
	background:#555;
}
#login-form label a {
	color: #777;
	color:0.85em;
}
#login-form label a:hover {
	color:#00BFF0;
}

/*--register--*/
.register-top-grid h3, .register-bottom-grid h3 {
	color:#000000;
	font-size: 1em;
	padding-bottom: 5px;
	margin: 0;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#555;
	font-size: 0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.register-top-grid input[type="password"], .register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.register-top-grid input[type="tel"], .register-bottom-grid input[type="tel"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}

.register-top-grid input[type="date"], .register-bottom-grid input[type="date"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}

.register-top-grid select[name="region"], .register-bottom-grid select[name="region"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.register-top-grid select[name="genero"], .register-bottom-grid select[name="genero"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.register-top-grid textarea[id="mensaje"], .register-bottom-grid textarea[id="mensaje"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.button1 {
	float: right;
	margin-top: 8%;
}

.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	float: left;
	margin-left: 8px;
	position: relative;
	font-weight: 600;
}
.checkbox:last-child {
	margin-bottom: 4px;
}
.checkbox:last-child {
	margin-bottom: 0;
}

/*Sobre nosotros*/
#about-section {
	padding: 100px 0;
	background-color: #e7e7e7;
}
#about-section h4 {
	border-bottom: 1px solid #000000;
	padding-bottom: 20px;
	display: inline-block;
}
#about-section p {
	margin-top: 20px;
	margin-bottom: 30px;
}

/*--Shop--*/
.shop_top{
	padding:5% 0;
	
}
.new-box {
	right:10px;
}
.new-box, .sale-box {
	position: absolute;
	top:16px;
	overflow: hidden;
	height: 38px;
	min-width: 70px;
	text-align: left;
	z-index: 0;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.new-label {
	font-size: 0.85em;
	color: #FFF;
	background:#da0505;
	text-transform: uppercase;
	padding:9px;
	text-align: center;
	display: block;
	min-width: 70px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}


.shop_box{
	position:relative;
}


.shop_desc h3{
	margin-bottom:5px;
}
.shop_desc h3 a{
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}
.shop_desc h3 a:hover{
	color:#666;
}
.shop_desc p{
	color:#555;
	font-size:0.8125em;
	line-height:1.8em;
	margin-bottom:10px;
}


span.actual {
	
	font-size: 1em;
	color:#000;	
}

ul.buttons{
	list-style: none;
	padding: 0;
	margin-top: 10px;
}
.boton1 {
	background-color: #4CAF50; 
	border: none;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }

.cart{
	background-color: white;
	width: 100%;
	color: black; 
	border: 2px solid #333;
}

.cart:hover {
	background-color: #da0505;
	color: white;
  }


.shop_btn{
	background-color: white;
	float:right;
  	color: black; 
  	border: 2px solid #333;
}

.shop_btn:hover {
	background-color: #008CBA;
	color: white;
}

.shop_btn a, .cart a{
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration:none;
}
.shop_btn a:hover{
	color:#E92546;
}
.cart a:hover{
	color:#FFAF02;
}
.shop_box-top{
	margin-bottom:5%;
}


/*--Footer--*/
.footer{
	background:#000;
	padding:5% 0;
}		
ul.footer_box{
	list-style:none;
	padding:0;
}	
ul.footer_box h4{
	color:#fff;
	font-size:1.1em;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom: 8%;
}
ul.footer_box li a{
	color: #B8B6B6;
	font-size: 0.8125em;
	text-decoration:none;
	line-height: 2em;
}
ul.footer_box li a:hover{
	color:#fff;
}
.footer_search {
	margin-top: 10%;
	width:100%;
	position:relative;
}
.footer_search input[type="text"] {
	outline: none;
	padding: 12px 15px;
	outline: none;
	color: #202020;
	background: #FFF;
	border: none;
	width: 74%;
	line-height: 1.5em;
	font-size: 0.8125em;
}
.footer_search  input[type="submit"] {
	background: #C7C7C7;
	padding: 9px 19px;
	border: none;
	cursor: pointer;
	position: absolute;
	line-height: 1.6em;
	font-size: 1em;
	color: #000;
	font-weight: 800;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.footer_search  input[type="submit"]:hover {
	background:#222;
	color:#fff;
}
ul.social{
	list-style:none;
	padding:0;
	margin-top: 17%;
}	
ul.social li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
ul.social li{
	display:inline-block;
	margin-right:8px;
}	
ul.social li a span:hover{
	opacity:0.5;
}		
li.facebook a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -256px -276px;
}
li.twitter a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -298px -276px;
}
li.instagram a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -346px -276px;
}

li.youtube a span {
	height: 25px;
	width: 47px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -437px -276px;
}	

.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}

*{margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;}
    
    .contenedor{
        
        display: contents;
        justify-content: left;
        align-items: baseline;
        
    }
    .contenedor figure{
       position: relative;
        height: 263px;
        cursor: pointer;
        width: 263px;
        overflow: hidden;
        border-radius: 6px;
    }
    .contenedor figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .contenedor figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(2, 29, 34, 0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .contenedor figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .contenedor figure:hover > .capa h3{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .contenedor figure:hover > img{
        transform: scale(1.3);
    }
    .contenedor figure .capa h3{
        color: rgb(250, 250, 250);
        font-weight: 50px;
        transition: all 500ms ease-out;
		 font-size: 12px;
    }
    .contenedor figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }

	.error-control {
        border: 1px solid red;
    }

    label.error {
        color: red;
        width: 300px;
        font-size: 0.8em;
        margin-top: -5px;
        margin-bottom: 10px;
	}
